*.ps
*.log
*.pdf
*.nav
*.out
*.snm
*~
*.vrb
*.lot
**/*.ps
**/_region_.*
**/*.log
**/*.pdf
**/*.nav
**/*.out
**/*.snm
**/*~
**/*.vrb
**/*.aux
**/*.toc
**/\#*\#
**/*.synctex.gz
**/**/auto
**/*.bbl
**/*.blg
**/*.dvi
**/*.fdb_latexmk
**/*.fls
**/*.lot